<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-4 border border-1">
            <div class="pt-4 p-2">
                <h1><i class="bi bi-bug-fill d-grid col-1 mx-auto"></i></h1>
                <h5 class="text-center mt-4 mb-4">Please Login to Continue</h5>
                <form action="post">
                    <div class="mb-2">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                    <p class="text-center mb-3">Or</p>
                    <div class="mx-auto pb-4">
                        <center>
                            <div class="g-signin2 mb-3" data-onsuccess="onSignIn"></div>
                        </center>
                        <!-- 
                            1070678802060-4mpghitb9cvns0duanp4jp2g69a9mqgk.apps.googleusercontent.com
                            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
                         -->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>